# Copy this file to terraform.tfvars and fill in the values
# cp terraform.tfvars.example terraform.tfvars

project_id          = "allerac-one"
region              = "southamerica-east1"
zone                = "southamerica-east1-a"
machine_type        = "e2-small"  # ~$13/month, use "e2-micro" for free tier (more limited)
ssh_user            = "allerac"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
